# This gitignore files ignores all files by default, except for the files
# that are explicitly included.
*

!.gitignore
!.Xdefaults
!.zprofile
!.zshrc

!bin/

!.config/
!.config/fontconfig/
!.config/git/
!.config/glow/
!.config/godot/
!.config/godot/script_templates/
!.config/gtk-3.0/
!.config/gtk-4.0/
!.config/kitty/
!.config/nvim/
!.config/pipewire/
!.config/ranger/
!.config/ripgrep/
!.config/shell_gpt/
!.config/shell_gpt/roles/
!.config/sway/
!.config/vsnip/
!.config/waybar/
!.config/wireplumber/
!.config/xdg-desktop-portal-wlr/

!.local/
!.local/share/
!.local/share/applications/

!bin/**

!.config/fontconfig/**
!.config/git/**
!.config/glow/**
!.config/godot/script_templates/**
!.config/gtk-3.0/**
!.config/gtk-4.0/**
!.config/kitty/**
# !.config/nvim/**
!.config/pipewire/**
!.config/ranger/**
!.config/ripgrep/**
!.config/shell_gpt/roles/**
!.config/sway/**
!.config/vsnip/**
!.config/waybar/**
!.config/wireplumber/**
!.config/xdg-desktop-portal-wlr/**

!.local/share/applications/**
