# This gitignore files ignores all files by default, except for the files
# that are explicitly included.
*

!.gitignore
!.Xdefaults
!.zprofile
!.zshrc

!bin/
!bin/**

!pkgbuilds/
!pkgbuilds/**

!.config/

!.config/fontconfig/
!.config/fontconfig/**

!.config/git/
!.config/git/**

!.config/glow/
!.config/glow/**

!.config/godot/
!.config/godot/**
!.config/godot/script_templates/
!.config/godot/script_templates/**
.config/godot/recent_dirs

!.config/gtk-3.0/
!.config/gtk-3.0/**
!.config/gtk-4.0/
!.config/gtk-4.0/**

!.config/kitty/
!.config/kitty/**

!.config/nvim/
!.config/nvim/**
.config/nvim/openapi_api_key.gpg

!.config/pipewire/
!.config/pipewire/**

!.config/ranger/
!.config/ranger/**

!.config/ripgrep/
!.config/ripgrep/**

!.config/shell_gpt/
!.config/shell_gpt/roles/
!.config/shell_gpt/roles/**

!.config/sway/
!.config/sway/**

!.config/vsnip/
!.config/vsnip/**

!.config/waybar/
!.config/waybar/**

!.config/wireplumber/
!.config/wireplumber/**

!.config/xdg-desktop-portal-wlr/
!.config/xdg-desktop-portal-wlr/**

!.config/aider/
!.config/aider/**
# API keys and other sensitive information are excluded
.config/aider/.env

!.config/zathura/
!.config/zathura/**

!.local/
!.local/share/
!.local/share/applications/
!.local/share/applications/**

!.loca/bin/
!.local/bin/**
