[Desktop Entry]
Name=AI
Exec=/opt/Chatbox/Chatbox-1.4.0-x86_64.AppImage --no-sandbox --enable-features=UseOzonePlatform --ozone-platform=wayland --uri=%U
Terminal=false
Type=Application
