[Desktop Entry]
Name=awakening
Exec=godot --path /home/dome/code/awakening --editor --display-driver wayland
Icon=godot
Terminal=false
PrefersNonDefaultGPU=true
Type=Application
MimeType=application/x-godot-project;
Categories=Development;IDE;
StartupWMClass=Godot
