[Desktop Entry]
Name=darkheit
Exec=/opt/godot-4.4/bin/godot.linuxbsd.editor.x86_64 --display-driver wayland --path /home/dome/code/awakening --editor
Terminal=false
PrefersNonDefaultGPU=true
Type=Application
MimeType=application/x-godot-project;
Categories=Development;IDE;
StartupWMClass=Godot
