[Desktop Entry]
Version=1.1.0.4
Name=Dungeondraft
Comment=Dungeondraft is a tabletop encounter map creation tool designed to draw aesthetic maps without the typical frustrations and time investment.
Exec=/opt/Dungeondraft/Dungeondraft.x86_64
Path=/opt/Dungeondraft
Icon=/opt/Dungeondraft/Dungeondraft.png
Terminal=false
Type=Application
Categories=Graphics
