[Desktop Entry]
Name=Godot Wayland
Comment=Application for making games
Exec=/home/dome/code/godot/bin/godot.linuxbsd.editor.x86_64 %U --verbose > /home/dome/code/godot/debug_log.txt 2>&1
Terminal=false
Type=Application
Categories=Development;
